.container {
  font-family: 'Monster Hunter', sans-serif;
  height: 600px;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  color: #7965a6;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row #monster-line {
  display: contents;
}

.row #monster-favorites {
  display: contents;
}

.column-half {
  flex-basis: 50%;
}

.padding-left-25 {
  padding-left: 25px;
}

@media screen and (width > 374px) {
  .title-row {
    font-size: 50px;
  }
}

@media screen and (width > 575px) {
  .title-row {
    font-size: 50px;
  }

  .column-one-third {
    flex-basis: 40%;
  }
}

@media screen and (width > 767px) {
  .column-one-third {
    flex-basis: calc(90% / 3);
  }
}
