.row-head {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (width > 374px) {
  .title-row {
    font-size: 50px;
  }
}

@media screen and (width > 575px) {
  .title-row {
    font-size: 50px;
  }

  .column-one-third {
    flex-basis: 50%;
  }
}

@media screen and (width > 767px) {
  .column-one-third {
    flex-basis: calc(100% / 3);
  }
}
