.main {
  background-color: grey;
}

.hidden {
  display: none !important;
}

header {
  background-color: black;
  font-family: 'Monster Hunter', sans-serif;
}

i {
  margin-top: 20px;
  padding-right: 25px;
  font-size: 30px;
}

header i {
  color: white;
}

.title-row {
  text-align: center;
  font-family: 'Monster Hunter', sans-serif;
  color: #94ca76;
}

.filter {
  text-align: right;
  font-size: xx-large;
  margin-right: 30px;
  color: black;
}

.monster-name {
  text-align: center;
  font-family: 'Monster Hunter', sans-serif;
  padding: 1rem;
  background-color: grey;
}

.monster-name h2 {
  margin-top: 0;
  font-size: xx-large;
  color: #94ca76;
}

.monster-card > img {
  width: 100%;
  background-color: gray;
}

.selected {
  color: yellow;
}

.mon-img {
  max-height: 550px;
  width: 100%;
  height: 100%;
  border: 5px solid black;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://www.monsterhunter.com/world/sp/images/ecosystem/img_ecosystem_01_01.jpg');
}

.monster-details h1 {
  text-align: center;
  color: black;
}

.monster-details h2 {
  padding-left: 10px;
}

.monster-details span {
  color: #74b1c9;
  font-family: 'Playfair Display', sans-serif;
}

a {
  color: #94ca76;
  font-size: xx-large;
}

.detail-img {
  height: 100%;
  width: 100%;
}

#monster-select .row {
  flex-basis: 50%;
}

.monster-card {
  background-color: grey;
}
