header {
  background-color: black;
  font-family: 'Monster Hunter', sans-serif;
}

.container {
  background-color: gray;
}

.title-row {
  text-align: center;
  font-family: 'Monster Hunter', sans-serif;
  color: #94ca76;
}

.filter {
  text-align: right;
  font-size: xx-large;
  margin-right: 30px;
  color: black;
}

.row-head {
  color: white;
}

.row-head h1 {
  margin-left: 15px;
  margin-right: 2px;
  margin-top: 30px;
}

.row-head h2 {
  margin-left: 75px;
  margin-right: 2px;
  margin-top: 35px;
}

.monster-name {
  text-align: center;
  font-family: 'Monster Hunter', sans-serif;
  padding: 1rem;
}

.monster-name h2 {
  margin-top: 0;
  font-size: xx-large;
  color: #94ca76;
}

.monster-card > img {
  width: 100%;
  background-color: gray;
}

.selected {
  color: yellow;
}
